@use 'reset';
@use 'layout';
@use 'variables';
@use 'mixin';
@import 'include-media';

.button {
  grid-area: button;
  @include mixin.flex(row, space-between, center);
  margin-top: 2rem;
  padding-top: 26px;
  width: 100%;
  height: 72px;
  border-top: 1px solid var(--input-divider);
  @include media('>=large') {
    margin-top: calc(3rem - 1px);
    padding-top: 1.5rem;
    width: 100%;
  }

  .btn {
    @include mixin.flex(row, center, center);
    width: 156px;
    height: 46px;
    border-radius: 8px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 20px;

    @include media('>=large') {
      width: 174px;
    }

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  .btn-prev {
    background: transparent;
    color: var(--font-color2);
    &:hover {
      border: 1px solid var(--font-color2);
    }
  }

  .btn-prev.first-step {
    display: none;
  }

  .btn-next {
    background: variables.$pink;
    color: variables.$white;
  }

  .btn-next.first-step {
    margin-left: auto;
    width: 100%;
    @include media('>=small') {
      width: 156px;
    }
    @include media('>=large') {
      width: 174px;
    }
  }

  .btn-prev::before {
    content: '\2190';
    margin-right: 12.5px;
  }

  .btn-next::after {
    content: '\2192';
    margin-left: 12.5px;
  }

  .last-step.btn-next::after {
    display: none;
  }
}
